[Unit]
Description=Plant Monitoring
Requires=docker.socket
After=docker.socket

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/marco/plant-monitoring
ExecStart=docker compose --env-file .env up -d --build --wait
ExecStop=docker compose --env-file .env down

[Install]
WantedBy=default.target
