[Unit]
Description=Plant Monitoring

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/marco/plant-monitoring
ExecStart=docker compose --env-file .env up -d --build
ExecStop=docker compose --env-file .env down

[Install]
WantedBy=default.target
